<h1><%= @task.title %></h1>
<%= link_to '<-- Back to the index', tasks_path%>
<p>Details : <%= @task.details %></p>
<% if @task.completed == false%>
<p> This task has not yet been completed ! </p>
<% else %>
<p> Completed ! </p>
<% end %>
<%= link_to 'edit', edit_path(@task.id) %>
<%= link_to 'delete', task_path(@task.id), method: :delete, data: {confirm: "Are you sure?"} %>

